<form [formGroup]="tableForm">
    <label>Name*</label>
    <input type="text" class="form-control" formControlName="name">
  <br>
    <label>Icon</label>
    <mat-form-field appearance="fill" class="form-control" formControlName="icon" (click)="showemoji=!showemoji">
      <ngx-emoji [emoji]="emojiSelected"></ngx-emoji></mat-form-field>
      <emoji-mart *ngIf="showemoji" (emojiClick)="addEmoji($event);showemoji=!showemoji"></emoji-mart>
  <br>
    <label>Color</label>
    <input type="color" class="form-control" formControlName="color">
    <div class="pt-2">
      <button mat-button (click)="onAddTable()" [disabled]="tableForm.controls['name'].value == '' ? true : false">Save</button>
      <button mat-button style="margin-left: 40%;" (click)="closeDialog()">Cancel</button>
    </div>
  </form>
  
  